body {
    padding: 10px;
    align-content: flex-end;

td {
    padding-right: 50px;
}

table, th, td {
    border: 1px solid black;
  }

.alert {
    text-align: center;
}

#hello {
    font-size: 15px;
}

.hello {
    font-size: 15px;
}