{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Alert if not a valid categories is entered into url -->
    {% if messages %}
    {% for message in messages %}
        <td><div role="alert" style="text-align: center;"
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} class="alert alert-success" {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} class="alert alert-warning" {% endif %}>
            {{ message }}
        </div></td>
    {% endfor %}
    {% endif %}

    <h5>Categories</h5>
    <div class="container-fluid">
        <div class="row justify-content-center">      
            {% for c in categories %}
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-6" id="category-div">
                    <div>
                        <a href="{% url 'selectCategory' c.category %}">{{ c.category }}</a> 
                    </div>
                    <div style="padding: 10px;"></div>  
                </div>

            {% endfor %}  
        </div>
    </div>
        

    

{% endblock %}