{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div style="padding-bottom: 50px;">
        <a href="{% url 'listing_page' listing.id %}"><img src="{{ listing.imageURL }}" class="img-thumbnail" width="20%"></a>
        <table>
            <thead>
                <th><a href="{% url 'listing_page' listing.id %}">{{ listing.title }}</a></th>
            </thead>            
            <tr>
                <td>Starting Bid: <strong>${{ listing.startingBid }}</strong></td>

                {% if listing.maxBid %}
                    <td>Max Bid:</td>
                    <td><strong>${{ listing.maxBid.userBid }} ({{ listing.maxBid.user.username }})</strong></td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ listing.description }}</td>
            </tr>
        </table>      
    </div>
        
    {% endfor %}

{% endblock %}