{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing.maxBid.user == user and not listing.openListing %}
        <div class="alert alert-primary" role="alert">Congratulations! You are the winner!</div>        
    {% endif %}

    {% if messages %}
    {% for message in messages %}
        <div role="alert" style="text-align: center;"
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} class="alert alert-success" {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} class="alert alert-warning" {% endif %}>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <div style="padding: 10px;"></div>

    <div class="container">
        <!-- row with picture, title, price and bidding -->
        <div class="row">
            <!-- picture -->
            <div class="col-6">
                <img src="{{ listing.imageURL }}" class="img-thumbnail img-fluid rounded img-responsive img-resize2" id="">
            </div>
            <div class="col-6">
                <strong>{{ listing.title }} {% if not listing.openListing %} (Closed) {% endif %}</strong>
                

                <table class="table" cellpadding="0" border="0" width="100%" cellspacing="0">
                    <tr>
                            
                        <td>
                            <label>Current bid:</label>
                            <div>
                                {% if listing.maxBid %}
                                    <strong class="price-class">${{ listing.maxBid.userBid }}</strong>
                                {% else %}
                                    <strong>${{ listing.startingBid }}</strong>
                                {% endif %} 
                            </div>                            

                            {% if user != listing.owner and listing.openListing and user.is_authenticated %}
                                <div style="padding: 5px;"></div>
                                <form action="{% url 'bid' listing.id %}" method="post">
                                    {% csrf_token %}
                                    {{ bid_form.newBid }} 
                                    <div style="padding: 5px;"></div>
                                    <input type="submit" value="Place Bid" class="btn btn-primary btn-sm">
                                </form> 
                            {% endif %}                            

                            {% if user == listing.owner and listing.openListing %}
                                <div style="padding: 5px;"></div>
                                <form action="{% url 'close_listing' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Close Listing" class="btn btn-primary btn-sm">
                                </form>   
                            {% endif %}                             
                            
                            {% if user.is_authenticated %}
                                <div style="padding: 5px;"></div>
                                <form action="{% url 'watchlist' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listingID" value="{{ listing.id }}">
                                    <input type="submit" value="{{ watchlistButtonText }}" class="btn btn-warning btn-sm">
                                </form>
                            {%endif%}

                        </td>
                        
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div>
        <table>
            <tr>
                <td>Description:</td>
                <td>{{ listing.description }}</td>
            </tr>

            <tr>
                <td>Category:</td>
                <td>{{ listing.category }}</td>
            </tr>

            <tr>
                <td>Owner:</td>
                <td>{{ listing.owner.username }}</td>
            </tr>

            <tr>
                <td>Listing Date:</td>
                <td>{{ listing.creationDate.date }} ({{ listingDuration }})</td>
            </tr>
        </table>         
    </div>

    <!-- Comment Form -->
    {% if user.is_authenticated %}    
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <p style="padding-top: 20px;">Comment as {{user.username}}</p>
            <table>
                <tr>
                    <td>{{ comment_form.comment }}</td>
                    <td><input type="submit" value="Comment" class="btn btn-secondary btn-sm"></td>
                </tr>
            </table>     
        </form>
    {% endif %}
    
    {% if comments %}
        <h5 style="padding-top: 15px;">Comments:</h5>
        <table>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.user.username }}</td>
                <td>: {{ comment.comment }}</td>
                <td>{{ comment.commentDateTime.date }} ({{ comment.commentDuration }})</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    

{% endblock %}